In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv(r'D:\Machine Learning\French_Bakery_Daily_Sales\Dataset\Bakery sales.csv')

In [3]:
data.head()

,Unnamed: 0,date,time,ticket_number,article,Quantity,unit_price
0,0,2021-01-02,08:38,150040.0,BAGUETTE,1.0,"0,90 €"
1,1,2021-01-02,08:38,150040.0,PAIN AU CHOCOLAT,3.0,"1,20 €"
2,4,2021-01-02,09:14,150041.0,PAIN AU CHOCOLAT,2.0,"1,20 €"
3,5,2021-01-02,09:14,150041.0,PAIN,1.0,"1,15 €"
4,8,2021-01-02,09:25,150042.0,TRADITIONAL BAGUETTE,5.0,"1,20 €"

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234005 entries, 0 to 234004
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     234005 non-null  int64
 1   date           234005 non-null  object
 2   time           234005 non-null  object
 3   ticket_number  234005 non-null  float64
 4   article        234005 non-null  object
 5   Quantity       234005 non-null  float64
 6   unit_price     234005 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 12.5+ MB

In [5]:
data.describe()

          Unnamed: 0  ticket_number       Quantity
count  234005.000000  234005.000000  234005.000000
mean   255205.035854  219201.258738       1.538377
std    147501.625992   40053.223896       1.289603
min         0.000000  150040.000000    -200.000000
25%    127979.000000  184754.000000       1.000000
50%    254573.000000  218807.000000       1.000000
75%    382911.000000  253927.000000       2.000000
max    511395.000000  288913.000000     200.000000

In [6]:
data.isnull().sum()

Unnamed: 0       0
date             0
time             0
ticket_number    0
article          0
Quantity         0
unit_price       0
dtype: int64

In [7]:
# Identify categorical and numerical features
categorical_features = data.select_dtypes(include=['object']).columns.tolist()
numerical_features = data.select_dtypes(include=['number']).columns.tolist()

print("Categorical Features:", categorical_features)
print("Numerical Features:", numerical_features)

Categorical Features: ['date', 'time', 'article', 'unit_price']
Numerical Features: ['Unnamed: 0', 'ticket_number', 'Quantity']

In [ ]:
# Display the first 5 rows
df_head = data.head()

# Create a figure and axis
fig, ax = plt.subplots(figsize=(10, 2))  # Adjust size as needed
ax.axis('off')  # Hide axes

# Create table
table = ax.table(cellText=df_head.values, colLabels=df_head.columns, loc='center', cellLoc='center')

# Save as image
plt.savefig('data_head.png', bbox_inches='tight', dpi=200)
plt.close()

In [ ]:
# Display descriptive statistics
df_desc = data.describe()

fig, ax = plt.subplots(figsize=(10, 3))  # Adjust size as needed
ax.axis('off')

table = ax.table(cellText=df_desc.values, colLabels=df_desc.columns, rowLabels=df_desc.index, loc='center', cellLoc='center')

plt.savefig('data_describe.png', bbox_inches='tight', dpi=200)
plt.close()

In [11]:
# Remove euro sign and replace comma with dot, then convert to float
data['unit_price_clean'] = data['unit_price'].str.replace('€', '').str.replace(',', '.').str.strip()
data['unit_price_clean'] = data['unit_price_clean'].astype(float)

# Create the price feature
data['price'] = data['Quantity'] * data['unit_price_clean']

# Optional: Drop the intermediate column if you don't need it
# data.drop('unit_price_clean', axis=1, inplace=True)

# Display the first few rows to check
print(data[['Quantity', 'unit_price', 'unit_price_clean', 'price']].head())

   Quantity unit_price  unit_price_clean  price
0       1.0     0,90 €              0.90   0.90
1       3.0     1,20 €              1.20   3.60
2       2.0     1,20 €              1.20   2.40
3       1.0     1,15 €              1.15   1.15
4       5.0     1,20 €              1.20   6.00

In [12]:
data.head()

,Unnamed: 0,date,time,ticket_number,article,Quantity,unit_price,unit_price_clean,price
0,0,2021-01-02,08:38,150040.0,BAGUETTE,1.0,"0,90 €",0.90,0.90
1,1,2021-01-02,08:38,150040.0,PAIN AU CHOCOLAT,3.0,"1,20 €",1.20,3.60
2,4,2021-01-02,09:14,150041.0,PAIN AU CHOCOLAT,2.0,"1,20 €",1.20,2.40
3,5,2021-01-02,09:14,150041.0,PAIN,1.0,"1,15 €",1.15,1.15
4,8,2021-01-02,09:25,150042.0,TRADITIONAL BAGUETTE,5.0,"1,20 €",1.20,6.00

In [13]:
# Drop the 'Unnamed: 0' column
data = data.drop('Unnamed: 0', axis=1)

# Optional: Check the columns to confirm
print(data.columns)

Index(['date', 'time', 'ticket_number', 'article', 'Quantity', 'unit_price',
       'unit_price_clean', 'price'],
      dtype='object')

In [14]:
data.head()

,date,time,ticket_number,article,Quantity,unit_price,unit_price_clean,price
0,2021-01-02,08:38,150040.0,BAGUETTE,1.0,"0,90 €",0.90,0.90
1,2021-01-02,08:38,150040.0,PAIN AU CHOCOLAT,3.0,"1,20 €",1.20,3.60
2,2021-01-02,09:14,150041.0,PAIN AU CHOCOLAT,2.0,"1,20 €",1.20,2.40
3,2021-01-02,09:14,150041.0,PAIN,1.0,"1,15 €",1.15,1.15
4,2021-01-02,09:25,150042.0,TRADITIONAL BAGUETTE,5.0,"1,20 €",1.20,6.00

In [15]:
# Ensure the 'date' column is in datetime format
data['date'] = pd.to_datetime(data['date'])

# Create a 'day' column (day of the month)
data['day'] = data['date'].dt.day

# Display the first few rows to check
print(data[['date', 'day']].head())

        date  day
0 2021-01-02    2
1 2021-01-02    2
2 2021-01-02    2
3 2021-01-02    2
4 2021-01-02    2

In [16]:
data = data.rename(columns={'day': 'day_of_the_month'})

# Optional: Check the columns to confirm
print(data.columns)

Index(['date', 'time', 'ticket_number', 'article', 'Quantity', 'unit_price',
       'unit_price_clean', 'price', 'day_of_the_month'],
      dtype='object')

In [17]:
data.head()

,date,time,ticket_number,article,Quantity,unit_price,unit_price_clean,price,day_of_the_month
0,2021-01-02,08:38,150040.0,BAGUETTE,1.0,"0,90 €",0.90,0.90,2
1,2021-01-02,08:38,150040.0,PAIN AU CHOCOLAT,3.0,"1,20 €",1.20,3.60,2
2,2021-01-02,09:14,150041.0,PAIN AU CHOCOLAT,2.0,"1,20 €",1.20,2.40,2
3,2021-01-02,09:14,150041.0,PAIN,1.0,"1,15 €",1.15,1.15,2
4,2021-01-02,09:25,150042.0,TRADITIONAL BAGUETTE,5.0,"1,20 €",1.20,6.00,2

In [18]:
# Ensure the 'date' column is in datetime format
data['date'] = pd.to_datetime(data['date'])

# Create a new column 'day' with the day name
data['day'] = data['date'].dt.day_name()

# Display the first few rows to check
print(data[['date', 'day']].head())

        date       day
0 2021-01-02  Saturday
1 2021-01-02  Saturday
2 2021-01-02  Saturday
3 2021-01-02  Saturday
4 2021-01-02  Saturday

In [26]:
data.head()

,date,time,ticket_number,article,Quantity,unit_price,unit_price_clean,price,day_of_the_month,day
0,2021-01-02,08:38,150040.0,BAGUETTE,1.0,"0,90 €",0.90,0.90,2,Saturday
1,2021-01-02,08:38,150040.0,PAIN AU CHOCOLAT,3.0,"1,20 €",1.20,3.60,2,Saturday
2,2021-01-02,09:14,150041.0,PAIN AU CHOCOLAT,2.0,"1,20 €",1.20,2.40,2,Saturday
3,2021-01-02,09:14,150041.0,PAIN,1.0,"1,15 €",1.15,1.15,2,Saturday
4,2021-01-02,09:25,150042.0,TRADITIONAL BAGUETTE,5.0,"1,20 €",1.20,6.00,2,Saturday

In [27]:
data.tail()

,date,time,ticket_number,article,Quantity,unit_price,unit_price_clean,price,day_of_the_month,day
234000,2022-09-30,18:52,288911.0,COUPE,1.0,"0,15 €",0.15,0.15,30,Friday
234001,2022-09-30,18:52,288911.0,BOULE 200G,1.0,"1,20 €",1.20,1.20,30,Friday
234002,2022-09-30,18:52,288911.0,COUPE,2.0,"0,15 €",0.15,0.30,30,Friday
234003,2022-09-30,18:55,288912.0,TRADITIONAL BAGUETTE,1.0,"1,30 €",1.30,1.30,30,Friday
234004,2022-09-30,18:56,288913.0,TRADITIONAL BAGUETTE,1.0,"1,30 €",1.30,1.30,30,Friday

In [28]:
# Count total unique values in the 'article' column
unique_articles = data['article'].nunique()
print("Total unique articles:", unique_articles)

Total unique articles: 149

In [29]:
print(data['article'].unique())

['BAGUETTE' 'PAIN AU CHOCOLAT' 'PAIN' 'TRADITIONAL BAGUETTE' 'CROISSANT'
 'BANETTE' 'BANETTINE' 'SPECIAL BREAD' 'COUPE' 'SAND JB EMMENTAL'
 'KOUIGN AMANN' 'BOULE 200G' 'BOULE 400G' 'GAL FRANGIPANE 6P' 'CAMPAGNE'
 'MOISSON' 'CAFE OU EAU' 'BRIOCHE' 'CEREAL BAGUETTE' 'SEIGLE' 'COMPLET'
 'DIVERS PATISSERIE' 'GAL FRANGIPANE 4P' 'COOKIE' 'FICELLE'
 'PAIN AUX RAISINS' 'GAL POMME 6P' 'GAL POMME 4P' 'FINANCIER X5'
 'VIK BREAD' 'DIVERS VIENNOISERIE' 'GACHE' 'SANDWICH COMPLET'
 'PAIN BANETTE' 'GRAND FAR BRETON' 'QUIM BREAD' 'SPECIAL BREAD KG'
 'GD KOUIGN AMANN' 'BOULE POLKA' 'DEMI BAGUETTE' 'CHAUSSON AUX POMMES'
 'BAGUETTE GRAINE' 'DIVERS CONFISERIE' 'SUCETTE' 'DIVERS BOULANGERIE'
 'BOISSON 33CL' 'PATES' 'FORMULE SANDWICH' 'DIVERS SANDWICHS'
 'CROISSANT AMANDES' 'PAIN CHOCO AMANDES' 'SACHET VIENNOISERIE' 'NANTAIS'
 'CHOCOLAT' 'PAIN S/SEL' 'FONDANT CHOCOLAT' 'GAL POIRE CHOCO 6P'
 'GAL POIRE CHOCO 4P' 'GALETTE 8 PERS' 'SAND JB' 'SACHET DE CROUTON'
 'GRANDE SUCETTE' 'DEMI PAIN' 'TARTELETTE' 'FLAN' 'PARIS BREST' 'SAVARIN'
 'FLAN ABRICOT' 'BAGUETTE APERO' 'MILLES FEUILLES' 'CHOU CHANTILLY'
 'ECLAIR' 'ROYAL 4P' 'TARTE FRUITS 6P' 'TARTE FRUITS 4P' 'NOIX JAPONAISE'
 'THE' 'BRIOCHETTE' 'ROYAL 6P' 'ECLAIR FRAISE PISTACHE' '.'
 'GD FAR BRETON' 'TRIANGLES' 'TROPEZIENNE' 'TROPEZIENNE FRAMBOISE' 'ROYAL'
 'TARTE FRAISE 6P' 'TARTELETTE FRAISE' 'TARTE FRAISE 4PER' 'FRAISIER'
 'NID DE POULE' 'TARTELETTE CHOC' 'PAIN DE MIE' 'CRUMBLE' 'FINANCIER'
 'DIVERS BOISSONS' 'CAKE' 'VIENNOISE' 'TRAITEUR' 'PAIN GRAINES'
 'PLATPREPARE6,50' 'PLATPREPARE5,50' 'PLATPREPARE7,00'
 'FORMULE PLAT PREPARE' 'ST HONORE' 'BROWNIES' 'RELIGIEUSE'
 'PLATPREPARE6,00' 'DELICETROPICAL' 'CRUMBLECARAMEL OU PISTAE'
 'PT NANTAIS' 'GD NANTAIS' 'DOUCEUR D HIVER' 'TROIS CHOCOLAT'
 'ARTICLE 295' 'TARTE FINE' 'ENTREMETS' 'BRIOCHE DE NOEL' 'FRAMBOISIER'
 'BUCHE 4PERS' 'BUCHE 6PERS' 'GD PLATEAU SALE' 'BUCHE 8PERS'
 'PT PLATEAU SALE' 'REDUCTION SUCREES 12' 'PAIN NOIR'
 'REDUCTION SUCREES 24' 'BOTTEREAU' 'MERINGUE' 'PALMIER' 'PAILLE'
 'PLAT 6.50E' 'PLAT 7.60E' 'PLAT 7.00' 'PLAT' 'PLAT 8.30E' 'FORMULE PATE'
 'GUERANDAIS' 'PALET BRETON' 'CARAMEL NOIX' 'MACARON' '12 MACARON'
 'ARMORICAIN' 'PLAQUE TARTE 25P' 'SABLE F  P' 'PAIN SUISSE PEPITO'
 'TULIPE' 'TARTELETTE COCKTAIL' 'SACHET DE VIENNOISERIE']

In [30]:
# Group by 'article' and sum the 'Quantity' to get total sold for each product
product_sales = data.groupby('article')['Quantity'].sum().sort_values(ascending=False)

# Display the result
print(product_sales)

article
TRADITIONAL BAGUETTE      117463.0
CROISSANT                  29654.0
PAIN AU CHOCOLAT           25236.0
COUPE                      23505.0
BANETTE                    22732.0
                            ...
PLATPREPARE6,00                1.0
SACHET DE VIENNOISERIE         1.0
REDUCTION SUCREES 24           1.0
TROIS CHOCOLAT                 1.0
PLAT 6.50E                     0.0
Name: Quantity, Length: 149, dtype: float64

In [34]:
data.shape

(234005, 10)